@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo&display=swap&subset=korean');
@import './config/_variables';
@import './config/reset.scss';
@import './config/utils.scss';
@import './pages/home.scss';
@import './pages/about.scss';
@import './pages/timeTable.scss';
@import './pages/board.scss';
@import './pages/searchBoard.scss';
@import './pages/boardDetail.scss';
@import './pages/map.scss';
@import './pages/userProfile.scss';
@import './partials/writeEditBoardForm.scss';
@import './partials/footer.scss';
@import './partials/boardBlock.scss';
@import './partials/form.scss';
@import './partials/header.scss';
@import './partials/messages.scss';
@import './partials/socialLogin.scss';
@import './partials/editProfile.scss';
@import './main.scss';

* {
  box-sizing: border-box;
  font-size: 1rem;
}

html,
body {
  font-family: $fontFamily;
  font-family: $googleFont;
  width: 100%;
  height: 100vh;
}

input,
textarea,
button {
  font-family: $fontFamily;
  font-family: $googleFont;
}

input[type='button'],
input[type='submit'],
.form__link,
.social__login button,
.user-profile__btns button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  font-size: 0.9rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 1.5px 7.6px -8px rgba(0, 0, 0, 0.209),
    0 7px 24px -8px rgba(0, 0, 0, 0.39);
}

input[type='button']:hover,
input[type='submit']:hover,
.social__github:hover,
.user-profile__btns button:hover {
  cursor: pointer;
}

input[type='button']:active,
input[type='submit']:active,
.form__link a:active,
.social__login button:active,
.user-profile__btns button:active {
  transform: scale(0.98);
  outline-style: none;
}

input[type='text'],
textarea,
input[type='email'],
input[type='password'],
input[type='file'] {
  font-size: 1.3rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

::placeholder {
  text-align: center;
}
