extends layouts/main

block content
  .searchingBy
    h3 "#{searchingBy}" 로 검색된 글
  p Board
  .board__search
    form(action=routes.searchBoard, method="get")
      input(type="text", placeholder="검색어를 입력해주세요.", name="term" autocomplete="off")
