extends layouts/main

block content
  .board__detail-container
    .board__detail-column
      span= board.title
    .board__detail-column
      span= board.content
      span= board.views
    a(href=routes.editBoard(board.id)) 글 수정하기