extends layouts/main

block content
  .background__container
    .about__container
      ul.about__lists
        li.about__list 수가성 교회
        //- li.about__list 사역자
      section.about__section
        h1.section__title 대한 예수교 장로회
        h1.section__subTitle 수가성 교회
        ul
          li
            img(src=`${imagePath}pastor.jpg`, alt="pastor")
            span
              span 담임 목사 
              span 박흥순
          //- li
          //-   img(src="#")
          //-   span
          //-     span 목사 
          //-     span 김현숙
