extends layouts/main

block content
  .form__container
    form(action=routes.editProfile, method="post", enctype="multipart/form-data")
      label(for="avatar") Avatar
      input(type="file", id="avatar", name="avatarFile", accept="avatars/*" autocomplete="off")
      input(type="text", placeholder="Name", name="name", autocomplete="off")
      input(type="email", placeholder="Email", name="email", autocomplete="off")
      input(type="submit", value="Update Profile")
    a.form__link(href=`/users${routes.changePassword}`) Change Password