extends layouts/main

block content
  .home__container
    .swiper-container
      .swiper-wrapper
        .swiper-slide 
          span 수가성교회는 3가지 뜻을 가지고 있습니다.
        .swiper-slide 
          span 첫 째는 참된 구세주 예수그리스도를 만나는 곳입니다
        .swiper-slide 
          span 둘 째는 영생의 샘터가 되는 곳입니다.
        .swiper-slide 
          span 셋 째는 소외된 이에게 진리와 사랑을 주는 곳입니다
      .swiper-pagination
    .home__item
      h2 3 items
    .home__item
      h2 blank