extends layouts/main

block content
  .background__container
    .form__container
      form(action=`/user${routes.login}`, method="post")
        input(type="email", name="email", placeholder="이메일", required=true, autocomplete="off")
        input(type="password", name="password", placeholder="비밀번호", required=true, autocomplete="off")
        input(type="submit", value="로그인")
      include partials/socialLogin