extends layouts/main

block content
  script(type="text/javascript" src=`https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=${NAVER_CLIENT_ID}`)
  .background__container
    .map__container
      div(id="map")
      .address 경기도 안양시 동안구 갈산로 2번길 41-16 수가성 교회
      .phoneNumber ☎ 031-457-5813