extends layouts/main
include mixins/boardBlock

block content
  .background__container
    .searchBoard__container
      .searchingBy
        h3 "#{searchingBy}" 로 검색된 글
      .board__container
        table.board
          if boards.length === 0
            h5 검색된 글이 없습니다.
          else
            thead.board__table-head
              tr.board__titles
                th.board__column 번호
                th.board__column 제목
                th.board__column 작성일
                th.board__column 조회
            each item in boards
              +boardBlock({
                id: item.id,
                index: item.index,
                title: item.title,
                date: item.createdAt,
                views: item.views,
              })
      .board__search
        form(action=`/board${routes.searchBoard}`, method="get")
          input(type="text", name="term", placeholder="검색어를 입력해주세요.", autocomplete="off")