extends layouts/main
include mixins/boardBlock

block content
    .user-profile__container
        .user-profile
            .user-profile__header
                img.u-avatar(src=user.avatarUrl)
                h4.profile__username= user.name
            if user.id === loggedUser.id
                .user-profile__btns
                    a(href=`/user${routes.editProfile}`)
                        button 프로필 수정
                    a(href=`/user${routes.changePassword}`)
                        button 비밀번호 변경
        .board__container
            table.board
                each item in user.boards
                    +boardBlock({
                        id: item.id,
                        index: item.index,
                        title: item.title,
                        creator: item.creator.name,
                        date: item.createdAt,
                        views: item.views,
                    })