mixin boardBlock(board = {})
  .boardBlock
    a(href=routes.boardDetail(board.id))
      h4.boardBlock__title=board.title
    h6.boardBlock__views=board.views
    h5.boradBlock__content=board.content