.social__login
  button.social__github
    a(href=`/user${routes.github}`)
      span
        i.fab.fa-github
      | 깃허브로 로그인하기
  button.social__facebook
    a(href="#")
      span
        i.fab.fa-facebook-square
      | 페이스북으로 로그인하기
  button.social__google
    a(href="#")
      span
        i.fab.fa-google
      | 구글로 로그인하기
  button.social__naver
    a(href="#")
      span
        span.naver N
      | 네이버로 로그인하기
  button.social__kakao
    a(href="#")
      span
        span.kakao K
      | 카카오로 로그인하기