.board__detail-container {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 50% 10% 30%;

  .board__detail-titles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;

    .board__detail-column {
      display: flex;
      justify-content: center;
      margin-right: 15px;
    }
  }
  .board__detail-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .board__comments {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
