$headerBgColor: #34495e;
$headerFontColor: #ffffff;

$footerBgColor: #34495e;

$fontFamily: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$googleFont: 'East Sea Dokdo', cursive;
