main {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

  & .background__container {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & ul {
      display: flex;
      align-self: flex-start;
      width: 100%;
      height: 5%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      padding: 10px;
      font-size: 0.8rem;
      font-weight: 600;

      & li {
        opacity: 0.7;
        margin-right: 10px;
      }
    }
    & section {
      height: 95%;
      margin-top: 50px;
    }
  }
}
