main {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

  & .background__container {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
